<div>
  <table>
    <tr>
      <th>Description</th>
      <th>Code</th>
      <th>Time</th>
      <th>Start/stop</th>
      <th>Adjust</th>
    </tr>
    <tr>
      <td>{{timer.description}}</td>
      <td>{{timer.code}}</td>
      <td>{{timer.time}}</td>
      <td><button type="button">Start</button></td>
      <td>{{timer.adjust}}</td>
    </tr>
    <tr>
      <td>Another job</td>
      <td>56789</td>
      <td>1:23</td>
      <td><button type="button">Stop</button></td>
      <td>30</td>
    </tr>
  </table>
</div>





