<div>
  <table>
    <tr>
      <th>Description</th>
      <th>Code</th>
      <th>Time</th>
      <th>Start/stop</th>
      <th>Adjust</th>
    </tr>
    <tr ng-repeat="time in timer.times track by $index">
      <td>{{time.description}}</td>
      <td>{{time.code}}</td>
      <td>{{time.time}}</td>
      <td ng-show="time.isSet(time.code)"><button type="button" class="btn btn-default">stop</button></td>
      <td ng-show="!time.isSet(time.code)" ng-click="time.setActive(time.code)"><button type="button" class="btn btn-default">start</button></td>
      <td>{{time.adjust}}</td>
    </tr>
  </table>
</div>





